/* body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
} */

.container {
    margin-top: 50px;
    text-align: center;
}

.photo {
    border-radius: 30px; 
} 

.tagline {
    font-size: 40px;
    margin-top: 25px;
    color: #2c054a;
} 